<!DOCTYPE html>
{% load static %}
<html style="background-color:white">
<head>
	<title>EasySite</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "siteframe/homepage.css" %}">
	<script type='text/javascript' src="{% static "siteframe/homepage.js" %}"></script>
	<!--the content of meta description shows below the link when searching on google or other engines -->
	<meta name="description" content="Some articles written along the way of learning programming and dataanalysis!" 
</head>
<body>


<div class="page_section_one">

	<div id="logo_area">
			
			<div id="logo_img">
				<img src="{% static "siteframe/sitelogo.png" %}" alt="logo" width="60px"></img>
			</div>

	</div>
	<div>
			<div id="description" style="color:teal">
					easy site
			</div>
	</div>

	<div id="topic_area">
			<div id="topic_one">
				{% if topic_one %}
				<a href="http://www.baidu.com">
				{{ topic_one.tlp_text }}
				{% else %}
				<p>Nothing</p>
				{% endif %}
				</a>
			</div>
			<div id="topic_two">
					{% if topic_two %}
					<a href="http://www.baidu.com">
					{{ topic_two.tlp_text }}
					{% else %}
					<p>Nothing</p>
					{% endif %}
					</a>
			</div>

	</div>

	<div id="topic_area_two">

			<div id="topic_three">
				{% if topic_three %}
				<a href="http://www.baidu.com">
				{{ topic_three.tlp_text }}
				{% else %}
				<p>Nothing</p>
				{% endif %}
				</a>
			</div>
			<div id="topic_four">
					{% if topic_four %}
					<a href="http://www.baidu.com">
					{{ topic_four.tlp_text }}
					{% else %}
					<p>Nothing</p>
					{% endif %}
					</a>
			</div>
	</div>

</div>

<div>
	<br>
</div>

<div class="page_section_two">

	<div id='search_area'>
		<form>
		<button id="search_button" onclick="this.innerHTML='search......'" onmousedown="
		this.innerHTML='searching...'">
			search
		</button>
			<input type="text" name="search_content", id="search_input">
		</form>
	</div>

	<div id="subject_area">
	Subject here
	</div>

	<nav class="article_list_area">
	<a href="http://python.org" style="fontsize=20px">Python</a>
	<br>
	<a href="">Article 1</a>
	<br>
	<a href="">Article 2</a>
	</nav>

	<div class='article_content'>
		<h1 class="heading_one">
			<span style="background-color:lightpink">
				The problems:
			</span>
			<button style="button" onclick="this.style.color='blue'">Click me to change the color of this button.</button>
			<button style="button">
				<script type="text/javascript">document.write(Date())</script>
			</button>
		</h1>
		<p>
			Moore, the Republican Senate candidate and former chief justice of the Alabama Supreme Court, was born in Gadsden, a small city flanked by Interstate 59 and the Coosa River, an hour northeast of Birmingham. Gadsden is hilly, woodsy, blue-collar, and religious. “LEGAL OR NOT, SIN IS SIN,” a sign in front of a church announced yesterday. I saw it as I drove around, crisscrossing George Wallace Drive. I also saw Trump posters, Confederate flags, and dozens of signs for Doug Jones, the Democrat tied with Moore in recent Senate-race polls. Gadsden is the seat of Etowah County, which is a conservative place; Donald Trump received three times as many votes in the county as Hillary Clinton did. (Statewide, he received twice as many.) But I didn’t, in all my driving, see a single yard sign for Moore, the home-town son. Even the parking lot of the one mall in town had more bumper stickers for Luther Strange (four), Moore’s opponent in the Republican primary, than for Moore himself (one).
		</p>
		<p>
			The Gadsden Mall opened in 1974. It has two department stores, Belk and Sears, one on each end. Between them, on Sunday night, I walked past Books-A-Million, Cellular Solutions, a Japanese steak house, Great American Cookies, Blacklight Mini-Golf, KnockerBall Gadsden, an eyebrow-styling kiosk, and a clothing store for young girls, called Justice. A diverse assortment of families wandered around the place, which felt trapped in time. Two young security guards made their rounds. “It gets rough in here on Saturday nights,” one of them told me, mentioning fighting, stealing, and gun-toting. “We still have an active ban list,” the other said, referencing a list of chronic rule-breakers not allowed on mall property. “But it doesn’t go back that far.”
		</p>
		<p>
			He meant back to the early eighties, when Roy Moore was, many people say, a regular visitor to the mall. On Thursday, the Washington Post reported that, when Moore was a thirty-two-year-old assistant district attorney in Etowah County, he brought Leigh Corfman, who was fourteen years old at the time, to his home and sexually molested her. Three additional women told the Post that Moore had pursued them when they were in their teens and he was in his early thirties. (On Monday, another woman, Beverly Young Nelson, said that Moore assaulted her when she was sixteen years old. At a press conference, she held up a high-school yearbook that she said Moore signed before the alleged assault.) Two of the women say that they first met Moore at the Gadsden Mall, and the Post reports that several other women who used to work there remembered Moore’s frequent presence—“usually alone” and “well-dressed in slacks and a button-down shirt.”
		</p>
		<script type="text/javascript">
			document.write('<p> This pragraph is written by JavaScript!</p>')
		</script>

	</div>

<div class="other_link">
	<ul>
		<li>
			<a href="https://github.com/Tian-rg">my github</a>
		</li>
	</ul>
</div>

</body>
</html>